<!--esta es la pagina que aparece despues de iniciar sesion -->
<br>
<!--mensaje como titulo-->
<h1> Hola </h1>
<br>
<!--texto en el centro de la pantalla-->
<br><br><br><br><br><br><br><br><br><br>
<center><h1>ESTA ES LO ZONA DE TRABAJO</h1></center>